div{text-align:center;
  border-style:solid;
  border-color:#93c930; padding:20px;}
  
  round{text-align:center;
  text-size:32px;
border-radius: 25px;
border-color:#c93093;
    background:#c93093;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

*{background-color:#3196cc;
  
}
