*{background-color:#FF0300;
 background-position: center;
 background-attachment: fixed;
    background-position: 100%% 100%; 
	background-size: cover;
}

div{

display: block; border:8px #44B2A4 solid; padding-bottom: 2px; padding-left: 2px; padding-right: 2px; padding-top: 2px; }	

a{color:#096DB2;}
h1 {
    color:#B2B221;
    margin-left: 20px;
}

  

h1 { 
    color:#B29D4D;
}

p {
text-align: right;
    color:#B29D4D;
}
h1 {
    text-align: left;
}

h2 {
    text-align: left;
}

h3 {
    text-align: left;
	}
